# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Data files
data/raw/*
!data/raw/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Power BI
*.pbix.autorecover

# Kaggle API key
kaggle.json